__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

.ipynb_checkpoints/
.profile_default/
.ipython/

data/raw/
data/processed/
data/*.csv
data/*.pkl
data/*.pickle


*.joblib
*.h5
*.model
*.cache

.streamlit/secrets.toml

*.log
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

build/
dist/
*.egg-info/

.env
